---
layout: default
---

<h2 data-image="/images/candidates/{{page.name | downcase | replace:' ','-'}}.jpeg"
    class="{{page.status}}">
  {{ page.name }}
</h2>

{{ content }}

{% for question in site.data.questionnaire.questions %}
  {% assign question_title = question[0] %}
  <div class="question">{{question[1]}}</div>
  {% if page.questionnaire_answers[question_title] == empty or page.questionnaire_answers[question_title] == "" or page.questionnaire_answers[question_title] == nil %}
    <div class="answer">
      [No response provided]
    </div>
  {% else %}
    <div class="answer">
      {{ page.questionnaire_answers.safety | markdownify }}
    </div>
  {% endif %}
{% endfor %}

