---
layout: default
---

<h2 data-image="/images/candidates/{{page.name | downcase | replace:' ','-'}}.jpeg"
    class="{{page.status}}">
    <span>
      {{ page.name }}
    </span>
</h2>

{{ content }}

{% assign audio = page.questionnaire_audio %}
{% if audio != empty and audio != "" and audio != nil and audio.size > 0 %}
  <h2>Our interview with {{ page.name }}</h2>
  <audio controls>
  {% if audio.webm != empty or audio.webm != "" or audio.webm != nil %}
      <source src="/audio/{{ audio.webm }}.webm" type="audio/webm">
  {% endif %}
  {% if audio.ogg != empty or audio.ogg != "" or audio.ogg != nil %}
      <source src="/audio/{{ audio.ogg }}.ogg" type="audio/ogg">
  {% endif %}
  {% if audio.mp3 != empty or audio.mp3 != "" or audio.mp3 != nil %}
      <source src="/audio/{{ audio.mp3 }}.mp3" type="audio/mpeg">
  {% endif %}
  {% if audio.wav != empty or audio.wav != "" or audio.wav != nil %}
      <source src="/audio/{{ audio.wav }}.wav" type="audio/wave">
      <source src="/audio/{{ audio.wav }}.wav" type="audio/wav">
  {% endif %}
  </audio>
{% endif %}

<h2>{{ page.name }}'s responses to our questionnaire</h2>
{% for question in site.data.questionnaire.questions %}
  {% assign question_title = question[0] %}
  <div class="question"><p>{{question[1]}}</p></div>
  {% if page.questionnaire_answers[question_title] == empty or page.questionnaire_answers[question_title] == "" or page.questionnaire_answers[question_title] == nil %}
    <div class="answer">
      [No response provided]
    </div>
  {% else %}
    <div class="answer">
      {{ page.questionnaire_answers[question_title] | markdownify }}
    </div>
  {% endif %}
{% endfor %}

<script src='{{ site.url }}/assets/js/bg-img-data-attr.js' type='text/javascript'></script>
