---
layout: default
---

<h2 data-image="/images/candidates/{{page.name | downcase | replace:' ','-'}}.jpeg"
    class="{{page.status}}">
    <span>
      {{ page.name }}
    </span>
</h2>

{{ content }}

{% for question in site.data.questionnaire.questions %}
  {% assign question_title = question[0] %}
  <div class="question"><p>{{question[1]}}</p></div>
  {% if page.questionnaire_answers[question_title] == empty or page.questionnaire_answers[question_title] == "" or page.questionnaire_answers[question_title] == nil %}
    <div class="answer">
      [No response provided]
    </div>
  {% else %}
    <div class="answer">
      {{ page.questionnaire_answers[question_title] | markdownify }}
    </div>
  {% endif %}
{% endfor %}

<script src='{{ site.url }}/assets/js/bg-img-data-attr.js' type='text/javascript'></script>
